body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Carrois Gothic SC', sans-serif;

}

.container {
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #c7c9c7;
    background-color: #11111f;
    font-family: 'Carrois Gothic SC', sans-serif;

}

.logo img {width: 400px;}

.searchbar {
    border: 2px solid #c7c9c7;
    padding: 5px;
    width: 18rem;
    border-radius: 8px;
}

.searchbar input {
    background-color: transparent;
    border: 0;
    color: #c7c9c7;
}

.searchbar i {
    margin-left: 100px;
}

.cart, .signin {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100px;
}
/* Email Subscibe */
.email {
    background-color: #e32636 ;
    color: #c7c9c7;
    text-shadow: 2px 2px 2px #11111f;
    font-size: 1.55rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px;
}
.email-btn {
    border: 1px solid #c7c9c7;
    padding: 5px;
    box-shadow: 3px 3px 3px 1px #11111f;
    border-radius: 8px;
    cursor: pointer;
}
.email-btn:active {
    box-shadow: 1px 1px 1px 0px #11111f inset;

}
/* Xmas Section */
.xmas {
    font-family: 'Mountains of Christmas', serif; 
    background-image: url('./assets/Screen\ Shot\ 2023-11-14\ at\ 9.23.22\ PM.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 500px;
    width: 1000px;
    margin-inline: auto;
    display: grid;
    place-content: center;
    text-align: center;   
    margin-top: 10px;
}

.xmas-header {
    font-size: 4rem;
    color: #11111f;
    text-shadow: 1px 1px 1px #e32636;
}

.xmas-btn {
    font-size: 2rem;
    margin-top: 50px;
    border: 2px solid #11111f;
    width: max-content;
    margin-inline: auto;
    padding: 8px;
    border-radius: 8px;
    background-color: #e32636;
    
}

/* Ads Section */
.ads {
    display: grid;
    grid-template-areas:"first first second"
                        "third third second";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
    margin-inline: auto;
    
    font-family: 'Carrois Gothic SC', sans-serif;
    gap: 10px;
}

.first-ad {
    display: flex;
    grid-area: first;
    width: fit-content;
    background-color: #11111f;
}

.first-ad img {width: 300px;}

.ad-text {
    display: flex;
    flex-direction: column;
    background-color: #11111f;
    color: #c7c9c7;
    width: 230px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.ad-sub-text {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 230px;
    height: 100px;
    text-align: center;
    margin-top: -20px;
    justify-content: center;
}

.ad-text h3 {
   font-size: 1.55rem;
   margin-top: 0;
}
   
.ad-sub-text h2 {font-size: 3.75rem;}

.ad-sub-text h3 {margin: 0;}

.ad-btn-one {
    border: 1px solid #c7c9c7;
    padding: 7px;
    width: 100px;
    color: #c7c9c7;
    text-decoration: none;
    margin-inline: auto;
}

.second-ad {
    grid-area: second;
    background-image: url('./assets/Screen\ Shot\ 2023-11-09\ at\ 10.19.37\ PM.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #c7c9c7;
    width: 400px;
    height: 700px;
    text-shadow:2px 2px 2px #11111f;
    padding: 10px;
    display: flex;
    align-items: end;
}

.second-ad-text h2{
    font-size: 3rem;
    margin: 0;
}

.second-ad-text h5 {
    font-size: 1.5rem;
    margin: 0;
}

.third-ad {
    grid-area: third;
    background-image: url('./assets/Screen\ Shot\ 2023-11-09\ at\ 10.46.50\ PM.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 355px;
    color: #c7c9c7;
    text-shadow: 2px 2px 2px #11111f;
    display: grid;
    place-content: center;
}

.third-ad-text {
    font-size: 2.75rem;
}

/* Shop By */
.shop {
    margin-top: 100px;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    justify-content: start;
    color: #11111f;
    margin-bottom: 200px;
}
.shop-header {
    font-size: 3rem;
}

.shop-slide-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.slide img {width: 200px;}

.slide:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

/* Brand Slides */
.brand-header {
    margin-bottom: 100px;
    font-size: 3rem;
    text-align: center;

}
.brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.brand-slide img {
    width: 100px;
}

/* Socials Ad */

.social-media {
    background-image: url('./assets/Screen\ Shot\ 2023-11-15\ at\ 9.08.50\ PM.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:auto;
    height: 800px;
    display: grid;
    justify-content: center;
    padding: 20px;
    margin-inline: auto;
    max-width: 1000px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1000px;
    margin-right: auto;

}
.fa-brands {
    font-size: 2rem;
    color: rgba(255,255,255,0.9);
    text-shadow:1px 1px 1px #11111f;
    transition: all 200ms ease-in-out;
    width: fit-content;

}

.fa-brands:hover {
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
}
.social-text {
    display: flex;
    justify-content: end;
    align-items: end;
    color: #fff;
    font-size: 2rem;
    text-shadow:2px 2px 2px #11111f;
    gap: 10px;
    background-color: #11111f;
    padding: 5px;
    height: max-content;
    margin-top: auto;
    width: max-content;
    margin-left: auto;
}

.social-text a {
    color: #fff;
    font-size: 2rem;
    text-shadow:2px 2px 2px #11111f;
}
/* Footer */
footer {
    background-color: #11111f;
    height:max-content;
    margin-top: 100px;
    color:#c7c9c7;
    display:grid;
    flex-direction: column;
    justify-content: center;
   
    padding-top: 50px;
}

.footer-content {
    display: flex;
    gap: 200px;
}

footer a {
    color: #c7c9c7;
}

.address h5 {
    margin: 5px;
}

footer img {
    margin-inline: auto;
}